.about-container{
    background-color: #111;
    min-height: 100vh;
}
.about-container img{
    width: 100%;
}
@media only screen and (max-width: 600px) {
    .about-row{
        flex-direction: column-reverse;
        /* z-index: 5; */
    }
}