.navbar-lists li{
    height: 50px;
    width: 50px;
    /* border: 1px solid red; */
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: gold;
    margin: 5px;
    margin-bottom: 15px;
    transition: transform 0.5s;
}
.navbar-lists li:hover{
    cursor: pointer;
    /* width: 50px; */
    transform: translateX(-10px);
}

.navbar-container{
    display: flex;
    align-items: center;
    position: fixed;
}

@media only screen and (max-width: 600px) {
    
    .nav-btn{
        position: absolute;
        /* top: -240px; */
        
    }
    .navbar-container{
        position: absolute;
        /* bottom: 100%; */
        top: -100px;
    }
}
